# dependencies
node_modules/
.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Videos originales HD (demasiado pesados)
public/videos/reel01.mp4
public/videos/reel02.mp4
public/videos/reel03.mp4
public/videos/reel04.mp4
public/videos/reel05.mp4
public/videos/reel06.mp4
public/videos/reel07.mp4
public/videos/reel08.mp4
public/videos/reel09.mp4
public/videos/reel10.mp4
public/videos/reel11.mp4